body {
  font-family: Verdana,"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;
  margin: 0;
}

table {
  border-collapse: collapse; 

  td, th {
    padding: 0.6em;
  }

  tr {
    border-bottom: 1px solid #DCDCDC;
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.navbar-menu {
  width: 100%;
  display: table;
}

.navbar-item {
  padding: 1em;
  box-sizing: border-box;
  display: table-cell;
  text-align: center;
}

.jumbo {
  height: 300px;
}

.profile-image {
  float: left;
  display: block;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid #EFEFEF;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0 0.5em;
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.1em;
  }

  .navbar-item {
    padding: 0.7em;
  }

  .jumbo {
    height: 200px;
  }

  .profile-image {
    float: none;
    display: block;
    margin: 1em auto;
    border: 1px solid #EFEFEF;
  }
}