body {
  font-family: Verdana,"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;
  margin: 0;
  color: #333;
}

a {
  color: rgba(255, 68, 100, 0.8);

  &:hover {
    color: rgba(255, 68, 100, 0.9);
  }

  &:visited {
    color: rgba(255, 68, 100, 0.8);
  }
}

.section {
  margin-bottom: 2em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.4em;
}

.section > h1 {
  border-bottom: 1px solid rgba(255, 68, 100, 0.7);
  margin-bottom: 0.6em;
}

form {
  label {
    margin-bottom: 0.6em;
  }

  textarea, input {
    padding: 0.6em;
    border-radius: 0.2em;
    border: 1px solid #DDD;
    margin-bottom: 1.2em;
  }

  textarea {
    width: 100%;
    height: 5em;
  }

  input {
    max-width: 100%;
    width: 300px;
  }

  button {
    background-color: rgba(255, 68, 100, 0.7);
    border: none;
    color: white;
    border-radius: 0.2em;
    padding: 0.2em 1em;
    font-size: 1em;
    cursor: pointer;
  }
}

table {
  font-size: 0.9em;
  border-collapse: collapse; 

  td, th {
    padding: 0.6em;
  }

  tr {
    border-bottom: 1px solid #DCDCDC;
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.navbar-menu {
  width: 100%;
  display: table;
  a {
    text-decoration: none;
  }
}

.navbar-item, .navbar-toggle {
  padding: 0.8em;
  box-sizing: border-box;
  display: table-cell;
  text-align: center;
}

.navbar-toggle {
  display: none;
  text-align: right;
  padding: 0.6em;
  font-size: 1.5em;
  color: rgba(255, 68, 100, 0.7);
  border-bottom: 4px solid rgba(255, 68, 100, 0.7);
}

.jumbo {
  height: 300px;
  margin-bottom: 2em;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0 0.5em;
  }

  .section > h1, .jumbo h1 {
    font-size: 1.4em;
  }

  .navbar-item {
    padding: 0.7em;
  }

  .jumbo {
    height: 200px;
  }

  .profile-image {
    float: none;
    display: block;
    margin: 1em auto;
    border: 1px solid #EFEFEF;
  }

  .navbar-toggle {
    display: block;
  }

  @keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }

  .navbar-menu {
    display: none;

    .navbar-item {
      display: block;
    }
  }

  .navbar-menu.show {
    display: block;
    animation: show 0.6s linear 0s;
    border-bottom: 4px solid rgba(255, 68, 100, 0.7);
  }
}